body {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;

    font-family: monospace;
}

header {
    text-align: center;
    margin: 20px;
}

.bookshelf {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
}

.book {
    background: #f7f7f7;
    border-bottom: 2px solid #ebebeb;

    padding: 30px;
    margin: 10px;
}

h3,
p {
    margin: 0;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
}

p:not(:last-of-type) {
    margin-bottom: 10px;
}

#btn-addBook {
    
}