
* {
    box-sizing: border-box;
}

body {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;

    font-family: monospace;

    
}

header {
    text-align: center;
    margin: 20px;
}

.bookshelf {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
}

.book {
    background: #f7f7f7;
    border-bottom: 2px solid #ebebeb;

    padding: 30px;
    margin: 10px;
}

h3,
p {
    margin: 0;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
}

p:not(:last-of-type) {
    margin-bottom: 10px;
}

.add-book {
    text-align: center;
}

#btn-addBook {
    color: #fff;
    background: #00b3ff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

#new-book-form input,
#new-book-form label {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#new-book-form input[type="text"] {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 10px;
    font-family: monospace;
}

#new-book-form label[for="readornot"] {
    display: inline;
}

#new-book-form #readornot {
    width: auto;
    display: inline-block;
}

#new-book-form button[type="submit"] {
    display: block;
    margin-top: 10px;
    color: #fff;
    background: #00b3ff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}