
* {
    box-sizing: border-box;
}

body {
    width: 97%;
    max-width: 1400px;
    margin: 0 auto 30px auto;

    font-family: monospace;
}

header {
    text-align: center;
    margin: 20px;
}

.bookshelf {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));    

    position: relative;
}

.book {
    background: rgb(251,246,230);
    background: linear-gradient(270deg, rgba(251,246,230,1) 0%, rgba(233,224,209,1) 100%); 
    border-left: 7px solid #ab987e;

    transform: rotateX(-8deg) rotateY(25deg) rotateZ(0deg);

    padding: 30px;
    margin: 10px 10px;

    min-height: 400px;

    transition: 0.4s;

    position: relative;
}

.book.new-book.book-center,
.book.new-book.book-center:hover {
    position: fixed;
    top: 10vh;
    left: 50%;
    right: 50%;
    width: 300px;
    margin-left: -150px;
    justify-content: center;
    box-shadow: 0 0 200px 25px #6a6a6a;
}

.book.new-book.book-center,
.book-editing,
.book:hover {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.book:hover .book-edit.no-show,
.book:hover .book-remove.no-show {
    display: block;
    transition: 0.4s;
}

.book.book.new-book.book-center {
    animation: flyIn 0.5s;
}

@keyframes flyIn {
    0% {
      transform: rotateZ(-180deg) scale(0.1);
    }

    100% {
        transform: rotateZ(0deg) scale(1);
    }
}

.book-center {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.book-center h3,
.book-center p {
    flex-basis: 100%;
    line-height: 1.5;
    word-wrap: anywhere;
}

.book-remove {
    color: red;
    position: absolute;
    right: 30px;
    bottom: 8px;
    padding: 5px;

    cursor: pointer;

    opacity: 0;
    animation: fadeIn 0.4s;
    animation-fill-mode: forwards;
}

.book-remove:hover {
  text-decoration: underline;
}

.book-edit {
    position: absolute;
    left: 30px;
    bottom: 20px;

    color: #fff;
    background: #00b3ff;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;

    opacity: 0;
    animation: fadeIn 0.4s;
    animation-fill-mode: forwards;
}

.book.book-center:hover {
    box-shadow: 0 0 24px 4px #dedede;
}



.shelf {
    grid-column: 1 / -1; 
    height: 40px;
    background: rgb(140,120,91);
    background: linear-gradient(180deg, rgba(140,120,91,1) 0%, rgba(140,120,91,1) 13%, rgba(121,93,52,1) 24%, rgba(140,120,91,1) 37%, rgba(140,120,91,1) 42%, rgba(121,93,52,1) 59%, rgba(140,120,91,1) 63%, rgba(140,120,91,1) 72%, rgba(121,93,52,1) 82%, rgba(140,120,91,1) 91%); 
    margin-top: -35px;
    margin-bottom: 20px;
}

main {
    margin-top: 40px;
}

h3,
p {
    margin: 0;
    padding: 0;
}

h3 {
    margin-bottom: 10px;
    margin-right: 10px;
    color: #4f2f04;
}

p:not(:last-of-type) {
    margin-bottom: 10px;
}

.add-book {
    text-align: center;
}

#btn-addBook {
    color: #fff;
    background: #00b3ff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

#new-book-form input,
#new-book-form label {
    display: block;
    width: 100%;
    margin: 10px 0;
}

#new-book-form input[type="text"] {
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 10px;
}

#new-book-form input[type="checkbox"] {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

#new-book-form label[for="readornot"] {
    display: inline;
}

#new-book-form #readornot,
#new-book-form #edit-readornot {
    width: auto;
    display: inline-block;
}

#new-book-form button[type="submit"] {
    margin-top: 10px;
    color: #fff;
    background: #00b3ff;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
}

#new-book-form #btn-cancel,
#new-book-form #btn-editBook-cancel {
    background: #b51b21;
}

.no-show {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

button {
    transition: 0.2s;
    font-family: monospace;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    filter: brightness(0.8);
}

.grn {
    color: #085c1e;
    border: 2px solid #085c1e;
    border-radius: 10px;
    margin: 15px auto 0 auto;
    padding: 3px 6px;
}

.red {
    color: #61200d;
    border: 2px solid #61200d;
    border-radius: 10px;
    margin: 15px auto 0 auto;
    padding: 3px 6px;
}

#book-count {
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 20px;
}